.modal-background{}


.modal-container{
    
}


.modal-btn{
    display: flex;
    justify-content: flex-end;
      
}
.modal-title{
    display: flex;
    margin: 20px;
}


.modal-body{
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight:  bold;
   
    
}



.modal-footer{
 display: flex;
 
}
