::placeholder {
  color: white;
}


:root{
  
  --primarycolor: #3E92CC;
  --secondarycolor:#2E4057;
  --tertiarycolor: #ACBFA4;
  --quaternarycolor:#77B6EA;
  --quinarycolor:#A4303F;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}



a:link, a:visited  {
  text-decoration: none; 
  text-decoration: none; 
  color: white;
}
h1, h2{
  color: white;
  text-align: center;  
}

input, select {
  color: #fff;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 10px;
  min-height: 1.5rem;
  padding: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;  
  padding-left: 20px;  
}

input:disabled{
  background-color: #2E4057; 
  color: grey; 
}

input:disabled::placeholder{
  color: grey;
}

option{
  color: white;
  background-color: #2E4057;
  border: 0px;
  border-radius: 10px;
}


ul{
  text-decoration: none;
}

.allInfos{
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: justify;
}

.background{
  width: 100%;
  height: 100%;
}

.background-img{
 position: fixed;
 width: 100%;
 z-index: -1;
 object-fit: contain;
object-position: top left;
}

  .box-transparent >*{    
    color: white;
    padding: 20px;    
   }

  .box-transparent {
    background-color:  rgba(32, 44, 61, .9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;       
   }

  .box-transparent-fit {
    background-color:  rgba(32, 44, 61, .9);
    color: white;
    padding: 20px;
    border-radius: 10px;         
   }


  .centered {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;     
  }

  .centeredContent {
    margin: auto;
    width: fit-content;  
    
  }
 
  .clickable{
    cursor: pointer;
    font-size:  0.7rem;
    color: var(--tertiarycolor);

  }
  


.contactLink:hover{
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.contentDiv > h1{
  text-align: center;
  padding: 10px;
}

.contentDiv{
    margin: auto;
    width: 90%;
    margin-top:  10px;
    text-align: justify; 
    top: 5rem;  
    left: 5rem;
    color: white;
    }

.headline{
  border-radius: 10px;
  background-color:  var(--secondarycolor);  
}

.img{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    object-position: top left;

   }
 
.important{
  color: #A4303F;
  font-size: .8rem;
  
}
  
 .importantBox{
  border: solid 2px;
  width: 80%;
  margin: auto;
  padding: 2rem;
  border: solid 2px #EF8275;
  border-radius: 10px;
  background-color: rgba(239, 130, 117, .6)
 } 

 .importantBox >h2{
  color: #2E4057;
 } 
   
 

   .infobox >span >p{
 text-align: center;
 text-justify: center;
 color: white;
 font-weight: bold; 
}
.modal{
  position: absolute;
  left: 1%;
  width: auto;
  height: auto;
  margin: auto;
  border: #A4303F 2px solid;
  border-radius: 10px;
  background-color: #3E92CC;
  z-index: 99;
}

.modal-box {
 border: solid 1px white;
 border-radius: 10px;
 padding: 5px;
 width: min-content;
}

.modal-box:hover {
color: #2E4057;
background-color: white;
transition:  500ms;
cursor: pointer;
}

.modal-list{
  display: flex;
  justify-content: flex-start;
}


.modal-list >div >div{
  margin-left: auto;
  margin-right: auto;
}


.null{
  width: min-content;
}

.space, .space3 {
  height: 3rem;
  width: 3rem;
}

.space_around{
    display: flex;
    justify-content: space-around;  
   }

.textBackground{

  background-color: rgba(46, 64, 87, .9);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}



.textInImg{
    position: relative;
    text-align: center;
}

.underlineLink{
  text-decoration: underline;
}

@media (max-width: 700px){

  .background-img{
    position: fixed;
    left: -400px;
    width: auto;
    height: 100%;
    z-index: -1;
    object-fit: contain;
    object-position: 0%;
    
   }

   .box-transparent {
    background-color:  rgba(32, 44, 61, .9);
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 10px;          
   }

   .space_around{
    display: flex;    
    flex-wrap: wrap;
     
   }  

   input {
   
    min-height: 2rem;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;  
    padding-left: 20px;  
  }
 

}